.menu-chart{
    max-width: 400px;
    margin: 0 auto; /* Center horizontally */
    .cover-image{
        width: 100%;
    }
    .menu-item-image {
        width: 100px;
        height: 100px;
        border-radius: 10px
    }
}
