.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: repeat;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .p-button {
    width: 250px;
  }

  .p-inputtext {
    width: 250px;
  }
}